<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" rel="home" href="/" title="Brand" style="padding-top: 10px; padding-bottom: 10px">
            <img style="height: 30px;" src="/assets/logo.png">
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/appointment/course" id="themes">课程管理 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><%=link_to "课程管理", courses_path  %></li>
                <li class="divider"></li>
                <li><%=link_to "添加课程", new_course_path  %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/appointment/post/lists" id="themes">资讯管理 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/admin/posts">资讯一览</a></li>
                <li><a href="/admin/posts/new">添加资讯</a></li>
                <li class="divider"></li>
                <li><%=link_to "咨询分类标签", categories_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/appointment/post/lists" id="themes">团队成员 <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><%=link_to "成员一览", users_path %></li>
              </ul>
            </li>

          </ul>

          <ul id="nav-right" class="nav navbar-nav navbar-right">
            <li><span><%= current_user.name%>，你好。</span></li>
            <li><%= link_to '登出', destroy_user_session_path, :method=>:delete,  class: "btn btn-blue" %></li>
          </ul>
        </div>
      </div>
    </div>
