
  <div class="panel panel-default">
    <div class="panel-heading">信息管理</div>
    <div class="panel-body">
      <div class="list-group">
        <%=link_to " 求人情报", jobs_path, class: "list-group-item"%>
        <%=link_to " 课程一览", courses_path, class: "list-group-item" %>
        <%=link_to " 活动一览", events_path, class: "list-group-item" %>
        <%=link_to " 资讯一览", posts_path, class: "list-group-item" %>
        <%=link_to " 用户一览", users_path, class: "list-group-item" if current_user.admin? %>
        <%=link_to " 群发邮件", new_qilian_mail_path, class: "list-group-item" if current_user.admin? %>
      </div>
    </div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">标签</div>
    <div class="panel-body">
      <div class="list-group">
        <%=link_to " 资讯标签", categories_path, class: "list-group-item" %>
        <%=link_to " 求人标签", labels_path, class: "list-group-item" %>
      </div>
    </div>
</div>
<% if current_user.admin? %>
<div class="panel panel-default">
  <div class="panel-heading">网站布局</div>
    <div class="panel-body">
      <div class="list-group">
        <%=link_to " 静态页面", teamsites_path, class: "list-group-item" %>
      </div>
    </div>
</div>
<% end %>



