<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>用户昵称</th>
      <th>用户权限</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.role %></td>
      <td>
        <ul class="list-inline">
          <li>
          <i class="fa fa-pencil"></i><%=link_to "修改用户信息", admin_userinfo_path(user.id), class: 'btn btn-blue'%>
          </li>
          <li>
            <i class="fa fa-remove"></i><%=link_to "删除用户", user_path(user), class: 'btn btn-blue', method: 'delete', data: { confirm: "确认删除？"} %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
</table> 

