<div class="container"> 
  <h2>忘记密码了?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label "邮件地址" %><br />
    <%= f.email_field :email, class: "form-control", style:"width: 40%", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.submit "给我发送重置密码邮件", class:"btn btn-primary" %>
  </div>
<% end %>
</div>
