<% content_for :extra_head do %>
  <link rel="stylesheet" type="text/css" href="/assets/md_preview.css" />
  <script type="text/javascript" src="/assets/Markdown.Converter.js"></script>
  <script type="text/javascript" src="/assets/Markdown.Sanitizer.js"></script>
  <script type="text/javascript" src="/assets/Markdown.Editor.js"></script>
<% end %>
<!-- Page Content -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
             新建活动 
          </h1>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= form_for @event do |f| %>
      <div class="form-group">
        <label>活动名称</label>
        <%=f.text_field :title, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <label>活动日程</label>
          <%=f.text_field :timestart, class: " datetimepicker", required: true %>
          ~ <%=f.text_field :timeend, class: " datetimepicker", required: true %>
      </div>
      <div class="form-group">
        <label>活动地点</label>
          <%=f.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>费用</label>
          <%=f.text_field :fee, required: true %>
        <label>人数限制</label>
          <%=f.number_field :limit, required: true %>
      </div>

      <div class="form-group">
        <label>简介</label>
        <%=f.text_area :description, class: 'form-control', rows: 4,required: true  %>
      </div>

      <div class="form-group" id='editor'>
        <label>活动内容</label>
        <div class="wmd-panel">
          <div id="wmd-button-bar"></div>
          <%=f.text_area :content, class: 'wmd-input', id: 'wmd-input', rows: 20, 'v-model'=> 'input',required: true %>
        </div>
        <label>预览</label>
        <div class="wmd-panel">
          <div id="wmd-preview" class="wmd-preview"></div>
        </div>
      </div>

      <div class="form-group">
          <label for="PostImage">添加图片</label>
            <%= f.file_field :image, id: "eyecatch_upload", onchange: "previewFile()" %><br />
            <img id="eyecatch_url" src="" style="width: 140px; height: 140px;"/>
      </div>

      <div class="form-group">
          <label>使用已有图片</label>
          <%= f.text_field :fakeimage, class: "form-control" %>
      </div>
      <button type="submit" class="btn btn-primary">创建</button>
    <% end %>
  </div>
  </div>
  

<!-- Include jquery.uplaod-1.0.2.min.js For Realtime Image Display -->
<script>
 (function () {
                var converter1 = Markdown.getSanitizingConverter();
                converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                    return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                        return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                    });
                });
                var editor1 = new Markdown.Editor(converter1);
                editor1.run();
            })();
</script>
<script>
function previewFile() {
  var preview = document.getElementById('eyecatch_url');
  var file    = document.getElementById('eyecatch_upload').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
$('.datetimepicker').datetimepicker({
    format: 'Y-m-d H:i',
});

</script>

