<% content_for :extra_head do %>
  <title><%=@category.name%>|七联就职</title>
<% end %>
<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              资讯一览-<%= @category.name%>
              <small>(<%= @category.posts.length %>)</small>
            </h1>
            <ol class="breadcrumb">
              <li><%=link_to "Home", root_path%></li>
              <li><%=link_to "资讯一览", news_index_path%></li>
              <li><%=@category.name%></li>
            </ol>
      </div>
  
    <!-- Blog Entries Column -->
      <%= render partial: 'common/post_lists', locals: {posts: @posts, category: @category}%>
      <!-- main-right sidebar -->
      <%= render partial: 'common/side_posts', locals: {hot_posts: @hot_posts}%>
      <!-- /main-right sidebar -->

    </div>
</div>
  <!-- /.Row -->
