<% content_for :extra_head do %>
  <title><%=@post.title%>|七联就职</title>
  <meta name="description" content="<%= @post.description ? @post.description : truncate( strip_tags( markdown(post.content) ), length: 100)  %>">    
<% end %>
<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <div class="page-header">
            <span style="font-size: 30px"><%= @post.title %></span>
            <a  class="heart-link" href="javascript:void(0)" onclick="mark_post()">
              <% if current_user && current_user.liked_posts.include?(@post) %>
                <i id="my_heart_<%= @post.id %>" class="fa fa-star qilian-like"></i>
              <% else %>
                <i id="my_heart_<%= @post.id %>" class="fa fa-star-o qilian-like"></i>
              <% end %>
            </a>
            </div>
            <ol class="breadcrumb">
              <li><%=link_to "Home", root_path%></li>
              <li><%=link_to "资讯一览", news_index_path%></li>
              <li><%=@post.title%></li>
            </ol>
      </div>
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row" id="news-detail">
    <!-- Post Content Column -->
    <div class="col-md-8">
      <!-- Post -->
      
      <div class="row">
        <div class="col-md-6">
          <p class="mt5 gray">
              <!-- 阅读数 -->
              <i class="fa fa-eye"></i> <%= @count %> views
              <!-- 发布日期 -->
              <i class="fa fa-clock-o"></i> <%=time_ago_in_words @post.created_at %> ago
              <i class="fa fa-star-o"></i> <span id="like-count_<%= @post.id%>"><%= @post.liked_users.length %></span>
          </p>
        </div>
        <div class="col-md-6 mt5">
            <% @post.categories.each do |category| %>
            <span class="label label-success">
              <i class="fa fa-tag"></i>
              <%=link_to category.name, category_path(category.id) %>
            </span>&nbsp;
          <% end %>
        </div>
      </div>
      
      <!-- Post Content Markdown Editor -->
      <div class="post-content">
        <%== @post.content %>
      </div>
      <div class="clearfix">
      </div>

      <!-- Duoshuo Comments -->
      <%= render partial: "common/comment_widget", locals: {post: @post } %>
    </div>

    <!-- main-right sidebar -->
    <%= render partial: 'common/side_posts', locals: {hot_posts: @hot_posts }%>
    <!-- /main-right sidebar -->

  </div>
 </div>
  <!-- /.Row -->

  <!-- Duoshuo Social Plugin -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"qilian"};
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';ds.async = true;
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0]
  || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>

<script>
<% if current_user %>
function mark_post(){
 $.post("/news/mark",
  { id: "<%=@post.id%>" },
  function(data){});
}
<% else %>
function mark_post(){
  alert('请先登录');
  location.href = '/users/sign_in';
}
<% end %>
</script>

