<div class="well">
      <%= form_for @course, html: {class: 'form-horizontal', id: 'Course'} do |f| %>
    <fieldset>
      <legend>课程信息新增</legend>
      
      <div class="form-group">
        <label for="CourseName" class="col-lg-2 control-label">标题</label>
        <div class="col-lg-10">
        <%=f.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <label for="CourseName" class="col-lg-2 control-label">每课时价钱</label>
        <div class="col-lg-10">
        <%=f.text_field :price, class: 'form-control', required: true%>
        </div>
      </div>


      <div class="form-group">
        <label for="CourseDescription" class="col-lg-2 control-label">费用介绍</label>
        <div class="col-lg-10">
        <%=f.text_area :price_detail, class: 'form-control', rows: 4, required: true %>
        </div>
      </div>

      <div class="form-group">
        <label for="CourseDescription" class="col-lg-2 control-label">简介</label>
        <div class="col-lg-10">
        <%=f.text_area :description, class: 'form-control', rows: 4, required: true %>
        </div>
      </div>

      <div class="form-group">
        <label for="CourseDescription" class="col-lg-2 control-label">课程大纲</label>
        <div class="col-lg-10">
        <%=f.text_area :content, class: 'form-control', rows: 8, required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-lg-2">授课教师</label>  
        <div class="col-lg-10">
        <%User.teachers.each do |teacher|%>
          <div class="checkbox-inline">
            <%= f.check_box(:teachers, {multiple: true}, teacher.name, nil) %>
            <%= f.label teacher.name %>
          </div>
         <% end %>
        </div>
      </div>

      <div class="form-group">
          <label for="TeacherImage" class="control-label col-lg-2">课程图片</label>
          <div class="col-lg-10">
            <%= f.file_field :image, id: "eyecatch_upload", onchange: "previewFile()" %><br />
            <img id="eyecatch_url" src="" style="width: 140px; height: 140px;"/>
          </div>
      </div>
        <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">提交表单</button>
        </div>
      </div>
    </fieldset>
   <% end %>
</div>
<script>
function previewFile() {
  var preview = document.getElementById('eyecatch_url');
  var file    = document.getElementById('eyecatch_upload').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
</script>

