<div class="pull-right">
  <i class="fa fa-plus-square"></i><%= link_to '添加分类', new_category_path, class: 'btn btn-blue' %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th class="col-md-5">分类名称</th>
      <th class="col-md-2">所属父类</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td>
        <h5><strong><%= category.name %></strong></h5>
      </td>
      <td><%= "parentid" %></td>
      <td>
        <ul class="list-inline">
          <li>
             <%= link_to "修改", edit_category_path(category.id), class: 'btn btn-blue' %>            
          </li>
          <li>
             <%= link_to "删除", category_path(category.id), method: :delete, class: 'btn btn-blue' %>            
          </li>
        </ul>
        
      </td>
    </tr>
    <% end %>
  </tbody>
</table> 
