<!-- Page Content -->
<div class="container">
  <%= render partial: 'common/mypage_header'%> 

  <div class="row">
    <!-- Menu -->

    <!-- Main -->
    <div class="col-lg-7">
      <%= render partial: 'common/new_showcv', locals:{user: @user} %> 
    </div>

    <div class="col-lg-5">
      <%= render partial: 'common/userinfo', locals:{user: @user} %> 
      <%= render partial: 'common/collection'%> 
      <%= render partial: '/mypage/common/calendar'%>
    </div><!-- /Menu -->

  </div><!-- /Main -->


</div>
  <!-- /.Row -->
