 <div class="col-md-8">
        <% posts.each do |post| %>
        <!-- 资讯相关内容 -->
        <div class="col-md-11 news-1">
          <h4>
             <%= link_to post.title, news_path(post.id) %>
          </h4><!-- /title -->
             <%= link_to image_tag(post.image, class: "img-responsive img-hover img-thumbView inbox-blog-list"), news_path(post.id)%>
           
          <h6>
            <ul class="icon-tools">
              <li class="main-list-group"><i class="fa fa-clock-o"></i> <%= time_ago_in_words post.created_at %></li>
              <li class="main-list-group"><i class="fa fa-eye"></i><%= post.view_count %> views</li>
              <% post.categories.each do |category|%>
              <li class="main-list-group">
                <span class="label label-info">
                 <i class="fa fa-tag"></i><%=link_to category.name, category_path(category.id) %>
                </span>
                &nbsp;
              </li>
              <% end %>
              
            </ul><!-- end of icon-->
          </h6>

          <p class="description-style">
          <%= truncate( strip_tags( markdown(post.content) ), length: 200) %>
          </p>

          <h6>
            <!-- <a class="continue_Reading" href="#">继续阅读</a> -->
                  <%= link_to '继续阅读', news_path(post.id), class: 'continue_Reading' %>
          </h6>

        </div><!-- /资讯相关内容 -->

        <!-- 广告 -->
        <!-- /广告 -->
        
        <% end %>
        
        <!-- PageNav -->
        <div class="digg_pagination">
        <%= will_paginate posts %>
        </div>
</div>


