<div class="col-md-8">
  <%= render partial: 'common/posts_head' %>
    <% posts.each do |post| %>
    <!-- 资讯相关内容 -->
    <div class="col-md-11 news-1">
      <h4>
         <%= link_to post.title, news_path(post.id) %>
      </h4><!-- /title -->
         <%= link_to image_tag( post.image.blank? ? post.fakeimage : post.image, class: "img-responsive img-hover img-thumbView inbox-blog-list"), news_path(post.id)%>
       
      <h6>
        <ul class="news-icon-tools">
          <li class="main-list-group"><i class="fa fa-clock-o"></i> <%= time_ago_in_words post.created_at %> ago</li>
          <li class="main-list-group"><i class="fa fa-eye"></i><%=post.impressionist_count + (post.fakeview.blank? ? 0 : post.fakeview) %> views</li>
          <% post.categories.each do |category|%>
          <li class="main-list-group">
            <span class="label label-style">
             <i class="fa fa-tag"></i><%=link_to category.name, news_category_path(category.id) %>
            </span>
            &nbsp;
          </li>
          <% end %>
          
        </ul><!-- end of icon-->
      </h6>

      <p class="description-style">
      <%= truncate( strip_tags( markdown(post.content) ), length: 200) %>
      </p>

      <h6>
        <!-- <a class="continue_Reading" href="#">继续阅读</a> -->
        <%= link_to '继续阅读', news_path(post.id), class: 'continue_Reading' %>
        <% if post.categories.exists?(need_login: true)%>
          <span class="mark-news_member_only"><i class="fa fa-lock fa-fw main-bookmark-time"></i>会员限定</span>
        <% end %>
      </h6>

    </div><!-- /资讯相关内容 -->

        <!-- 广告 -->
        <!-- /广告 -->
        
        <% end %>
        
        <!-- PageNav -->
        <div class="digg_pagination">
          <%= will_paginate @posts,:renderer => BootstrapPagination::Rails %>
        </div>
</div>
