<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4 sidebar-col-md-4">
  <div class="col-md-12 sidebar-layouts">
    <h4 class="sidebar-section-title"><i class="fa fa-tags"></i> 分类浏览</h4>
    <ul id="sidebar-tag" class="sidebar-tag-ul">
      <% Category.where(ancestry: nil).each do |category|%>
      <li>
        <div class="sidebar-tag-link"><i class="<%= category.icon ? category.icon : "fa fa-gift"%>"></i><%=category.name%><i class="fa fa-chevron-down"></i></div>
        <ul class="sidebar-tag-submenu">
          <% category.children.each do |subcategory|%>
            <li><a href="<%=news_category_path(subcategory.id)%>"><%= subcategory.name %><span class="badge"><%=subcategory.posts.count%></span></a></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-12 sidebar-layouts"><!-- 5 Top Picks Articles -->
    <h4 class="sidebar-section-title"><i class="fa fa-thumb-tack"></i>人气推荐</h4>
    <% hot_posts.each do |post|%>
      <div class="sidebar-topPick-block">
        <h4><i class="fa fa-star"></i><%= link_to  post.title, news_path(post.id) %></h4>
        <p class="side-bar-topPick-description">
        <%= post.description %>
        </p>
      </div>
    <% end %>
  </div>

  <!-- Side Widget Well -->
  <div class="col-md-12">
      <div class="fb-page" data-href="https://www.facebook.com/qilian" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/qilian"><a href="https://www.facebook.com/qilian">七聯</a></blockquote></div></div>
  </div>
</div>
