<div class="panel panel-danger">
  <div class="panel-heading">
      用户信息
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3 col-xs-4">
        <div class="upload-image">
          <img src="<%= avatar_url(user)%>" href="https://cn.gravatar.com/" class="img-thumbnail">
        </div>
      </div>
      <div class="col-sm-9 col-xs-8">
        <div class="row">
          <div class="col-sm-10">
            <div class="user-description">
              <div><span style="font-size: 18px">
                 姓名: <% unless user.family_name.blank? && user.given_name.blank? %>
                    <%=user.family_name+" "+user.given_name%>
                  <% end %>
                </span>
              </div>
              <div><span style="font-size: 18px">最终学历: <%=user.school%></span></div>
              <div><span style="font-size: 18px;overflow: hidden;word-wrap: break-word;">工作经历: <%=user.job%></span></div>
              <div><span style="font-size: 18px">位置: Tokyo</span></div>
            </div>
          </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#info-form">修改信息</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="info-form" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
	  <h4 class="modal-title">填写用户信息</h4>
        </div>
        <div class="modal-body user-form">
          <%=render partial: "common/userinfo_form", locals:{user: @user} %>
        </div>
      </div>
      
    </div>
</div>
<script>
function previewFile() {
  var preview = document.getElementById('eyecatch_url');
  var file    = document.getElementById('eyecatch_upload').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "";
  }
}
</script>

