<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>后台管理|七联就职</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= yield :extra_head %>
    <link rel="icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "application_admin", :media => "all" %>
    <%# todo: modify to local.ja after https://github.com/andyearnshaw/Intl.js/issues/69 get fixed %>
    <%#  or remove after safari implemented Intl API                                               %>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render partial: 'admin/header'%>
    <div class="container page-header">
      <div class="row clearfix page-header" id="main">
        <div class="col-lg-9" id="main-left">
         <%= flash_messages %>
         <%= yield %>
        </div><!-- /main-->
        <div class="col-lg-3" id="main-right">
          <%= render partial: 'admin/sider'%>
        </div>
      </div>
    <footer>
        <div class="row">
          <div class="col-lg-12">
              <p>© 七联 2014 - 2015</p>
          </div>
        </div>
    </footer>
</body>
</html>
