<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="EgwZ01J5o7JbFYfg1FBU4gSWscQ44JxcmhVNB3ynCrA" />
    <%= yield :extra_head %>
    <title>七联就职</title>
    <meta name="description" content="七联就职社，日本最大的留学生、社会人交流就职转职平台。">    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "application_news", :media => "all" %>
     <%# todo: modify to local.ja after https://github.com/andyearnshaw/Intl.js/issues/69 get fixed %>
     <%# or remove after safari implemented Intl API                                                %>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="holderjs-style" type="text/css"></style>
  </head>
  <body>          
    <%= render partial: 'common/nav_header_common' %>
    <%= flash_messages %>
    <%=yield%>
    <div id="fb-root"></div>
    <footer>
      <%=render partial: '/common/footer'%>
    </footer>
    <%= render partial: '/common/common_js'%>
  </body>
</html>
